<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/diaryspecific.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="mainbox">
      <div class="header"></div>
      <div class="menubar">
        <a class="myanswerdiarylogo" href="index.html">
          <img src="MyAnswerDiary.png" alt="" />
        </a>
        <ul>
          <li><a class="diary" href="diary.html">일기쓰기</a></li>
          <li><a class="qna" href="qna.html">365Q&A</a></li>
          <li><a class="search" href="searchpage.html">기록 검색</a></li>
          <li><a class="graph" href="graph.html">감정통계</a></li>
        </ul>
      </div>
      
      <div class="wrap_1">
        <div class="wrap_">
            <p class="date">2022.07.22</p>
            <p class="title">끝이 보이지 않는 취준</p>
            <hr>    
        </div>
    
        <div class="wrap_">
            <p class="date">2021.07.22</p>
            <p class="title">끝이 보이지 않는 취준</p>
            <hr>    
        </div>
    
        <div class="wrap_">
            <p class="date">2020.07.22</p>
            <p class="title">끝이 보이지 않는 취준</p> 
            
        </div>
    </div>
      <section class="write-diary">
        <div class="write-bar">

            <div id="today">
                <script>
                    let today = new Date();

                    let year = today.getFullYear();
                    let month = today.getMonth() + 1;
                    let day = today.getDate();
                    document.write(year + "년 " + month + "월 " + day + "일 ");

                    document.getElementById('today').style.width='200px';
                    document.getElementById('today').style.height='50px';
                    document.getElementById('today').style.margin='auto';
                    document.getElementById('today').style.fontSize='18px';
                    document.getElementById('today').style.fontWeight='Medium';
                    document.getElementById('today').style.paddingTop='13px';
                    document.getElementById('today').style.textAlign='center';
                    document.getElementById('today').style.display='initial';
                    document.getElementById('today').style.position='absolute';
                    document.getElementById('today').style.left='900px';
                    document.getElementById('today').style.right='200px';
                    
                    
                </script>
            </div>

            <div  class="feeling">
                <ul>
                    <li class="feeling-list">기쁨</li>
                </ul>
            </div>

        </div>

        <div class="diary-title">
            <p>제목</p>
        </div>

        <div class="diary-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                 in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>