<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="mainbox">
        <div class="header"></div>

        <div class="menubar">
            <a class="myanswerdiarylogo" href="index.html">
                <img src="MyAnswerDiary.png" alt=""/>
            </a>
            <ul>
                <li><a class="diary" href="diary.html">일기쓰기</a></li>
                <li><a class="qna" href="qna.html">365Q&A</a></li>
                <li><a class="search" href="search.html">기록 검색</a></li>
                <li><a class="graph" href="graph.html">감정통계</a></li>
            </ul>
        </div>

        <div class="text1">2022년 07월 22일의 기록 어떻게 남기시겠어요?</div>

        <div class="box-wrapper">
            <a href="diary.html">
                <div class="box">
                    <span class="d1">자유롭게 기록하고 싶다면</span><br>
                    <span class="d2">일기 작성하러 가기</span>  
                </div>
            </a>
            
            <a href="qna.html">
                <div class="box">
                    <span class="q1">질문에 맞춰 기록하고 싶다면</span><br>
                    <span class="q2">365 Q&A</span>  
                </div>
            </a>
        </div>
        
        <div class="text2">000님의 지난 7월 22일 기록들입니다.</div>
        <div class="wrap1">
            <div class="wrap">
                <p class="date">2022.07.22</p>
                <p class="title">끝이 보이지 않는 취준</p>
                <p class="contents">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>
                <hr>    
            </div>
        
            <div class="wrap">
                <p class="date">2022.07.22</p>
                <p class="title">끝이 보이지 않는 취준</p>
                <p class="contents">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>  
                <hr>    
            </div>
        
            <div class="wrap">
                <p class="date">2022.07.22</p>
                <p class="title">끝이 보이지 않는 취준</p>
                <p class="contents">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>  
                
            </div>
        </div>
        </body>
</html>