<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="mainbox">

        <div class="header"></div>

        <div class="menubar">
            <a class="myanswerdiarylogo" href="index.html">
                <img src="MyAnswerDiary.png" alt=""/>
            </a>
            <ul>
                <li><a class="qna" href="qna.html">365Q&A</a></li>
                <li><a class="diary" href="diary.html">일기쓰기</a></li>
                <li><a class="search" href="search.html">기록 검색</a></li>
                <li><a class="graph" href="graph.html">감정통계</a></li>
            </ul>
        </div>

        <a href="diary.html">
            <div class="box1"></div>
        </a>

        <a href="qna.html">
        <div class="box2"></div>
        </a>
        
        <div class="g">
            <div class="g1"></div>
            <span class="g2">로그아웃</span>
        </div>
               
        <span class="t5">000님의 지난 7월 22일 기록들입니다.</span>
        <span class="t6">365 Q&A</span>
        <span class="t7">일기 작성하러 가기</span>
        <span class="t8">자유롭게 기록하고 싶다면</span>
        <span class="t9">질문에 맞춰 기록하고 싶다면</span>
        <span class="t10">2022년 07월 22일의 기록 어떻게 남기시겠어요?</span>

        <div class="d1"></div>
        <div class="d2"></div>

            <span class="t11">끝이 보이지 않는 취준</span>
            <span class="t12">끝이 보이지 않는 취준</span>
            <span class="t13">끝이 보이지 않는 취준</span>
            <span class="t14">2022.07.22</span>
            <span class="t15">2021.07.22</span>
            <span class="t16">2020.07.22</span>
    
            <span class="t17">취준 아무리 해도 끝이 보이지 않고 우울하다.</span>
            <span class="t18">취준 아무리 해도 끝이 보이지 않고 우울하다.</span>
            <span class="t19">취준 아무리 해도 끝이 보이지 않고 우울하다.</span>
    
        </div>
        
</body>
</html>