<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/search.css" />
    <title>MyAnswerDiary</title>
</head>

<body>
    <div class="mainbox">
        <div class="header"></div>

        <div class="menubar">
            <a class="myanswerdiarylogo" href="index.html">
                <img src="MyAnswerDiary.png" alt="" />
            </a>
            <ul>
                <li><a class="diary" href="diary.html">일기쓰기</a></li>
                <li><a class="qna" href="qna.html">365Q&A</a></li>
                <li><a class="search" href="searchpage.html">기록 검색</a></li>
                <li><a class="graph" href="graph.html">감정통계</a></li>
            </ul>
        </div>

        <div class="search-box">
            <form method="GET">
                <button class="search-icon" type="submit"></button>
                <input class="search-bar" type="search" placeholder="검색어를 입력하세요" name="kw">
            </form>
        </div>

        <div class="search-result">
            <div class="search-result-item" style="cursor: pointer;">
                <p class="search-date">2022.07.30</p>
                <div class="content">
                    <span class="search-title">끝이 보이지 않는 취준</span>
                    <p class="search-cont">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>
                </div>
            </div>

            <div class="search-result-item" style="cursor: pointer;">
                <p class="search-date">2022.07.30</p>
                <div class="content">
                    <span class="search-title">끝이 보이지 않는 취준</span>
                    <p class="search-cont">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>
                </div>
            </div>

            <div class="search-result-item" style="cursor: pointer;">
                <p class="search-date">2022.07.30</p>
                <div class="content">
                    <span class="search-title">끝이 보이지 않는 취준</span>
                    <p class="search-cont">취준 아무리 해도 끝이 보이지 않고 우울하다.</p>
                </div>
            </div>
        </div>
</body>

</html>