<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Document</title>
</head>
<body>
    <div class="mainbox">
        <div class="header"></div>
        
        <div class="menubar">
            <a class="myanswerdiarylogo" href="index.html">
                <img src="MyAnswerDiary.png" alt=""/>
            </a>
            <ul>
                <li><a class="qna" href="qna.html">365Q&A</a></li>
                <li><a class="diary" href="diary.html">일기쓰기</a></li>
                <li><a class="search" href="search.html">기록 검색</a></li>
                <li><a class="graph" href="graph.html">감정통계</a></li>
            </ul>
        </div>

        <section class="form">
            <div class="form-list">
                <label for='form-id'>아이디</label><hr>
                <input id='form-id' type='text'/><hr>
            </div>

            <div class="form-list">
                <label for='form-pw'>비밀번호</label><hr>
                <input id='form-pw' type='text'/><hr>
            </div>
                
            <div class="form-list">
                <label for='form-repw'>비밀번호 확인</label><hr>
                <input id='form-repw' type='text'/><hr>
            </div>
                
            <div class="form-list">
                <label for='form-name'>닉네임</label><hr>
                <input id='form-name' type='text'/><hr>
            </div>
                
            <div class="form-list">
                <a class="form-submit" href="">가입하기</a>
            </div>
                
        </section>

        <div class="form-top">
            <a class="login" href="login.html">LOGIN</span>
            <a class="signup" href="signup.html">SIGNUP</span>

        </div>
            
    </div>
</body>
</html> 